@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 100%;
    --foreground: 210 29% 24%;
    --card: 240 100% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 240 100% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 145 63% 49%;
    --primary-foreground: 145 100% 98%;
    --secondary: 192 15% 94%;
    --secondary-foreground: 210 14% 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 29% 24%;
    --accent-foreground: 210 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 145 63% 49%;
    --chart-1: 145 63% 49%;
    --chart-2: 48 89% 50%;
    --chart-3: 210 29% 24%;
    --chart-4: 160 84% 39%;
    --chart-5: 280 84% 58%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 29% 10%;
    --foreground: 210 40% 98%;
    --card: 210 29% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 210 29% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 145 63% 59%;
    --primary-foreground: 145 100% 98%;
    --secondary: 192 15% 14%;
    --secondary-foreground: 192 100% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 210 29% 34%;
    --accent-foreground: 210 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 145 63% 59%;
    --chart-1: 145 63% 59%;
    --chart-2: 48 89% 60%;
    --chart-3: 210 29% 34%;
    --chart-4: 160 84% 39%;
    --chart-5: 280 84% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
