@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 100% 56%;
    --card: 0 0% 100%;
    --card-foreground: 217 100% 56%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 100% 56%;
    --primary: 217 100% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 26 100% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 63%;
    --accent: 329 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 95%;
    --ring: 153 100% 44%;
    --chart-1: 217 100% 56%;
    --chart-2: 329 100% 50%;
    --chart-3: 26 100% 50%;
    --chart-4: 46 100% 50%;
    --chart-5: 179 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 240 5% 95%;
    --card: 240 4% 12%;
    --card-foreground: 240 5% 95%;
    --popover: 240 4% 12%;
    --popover-foreground: 240 5% 95%;
    --primary: 180 100% 50%;
    --primary-foreground: 180 100% 10%;
    --secondary: 39 100% 50%;
    --secondary-foreground: 39 100% 10%;
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 320 100% 50%;
    --accent-foreground: 320 100% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 180 100% 50%;
    --chart-1: 180 100% 50%;
    --chart-2: 320 100% 50%;
    --chart-3: 39 100% 50%;
    --chart-4: 210 100% 50%;
    --chart-5: 160 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
